body {
  margin: 0;
  font-family: 'Instagram Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vnone{
  max-height: 0;
  opacity: 0;
  user-select: none;
}

.flex{
  display: flex;
  width: 100vw;
  height: 100vh;
  /* border: 10px solid yellow; */
}

.flex .posts{
  width: 70%;
  border-left: 1px solid grey;
}

.flex .sidebar{
  width: 20%;
}